<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
        <tab id="akwaaba_barcode" translate="label" sortOrder="10">
           <label>Akwaaba</label>
       </tab>
            <section id="barcode_config" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
           <label>Barcode Configuration</label>
           <tab>akwaaba_barcode</tab>
           <resource>Akwaaba_Barcode::config</resource>
	            <group id="configuration" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <field id="is_active" translate="label comment" type="select" sortOrder="25" showInDefault="1"  showInWebsite="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="default_barcode_text" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1">
                        <label>Default Barcode Text Field</label>
                        <source_model>Akwaaba\Barcode\Model\Config\Source\BarcodeTextField</source_model>
                    </field>

                    <field id="default_barcode_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1">
                        <label>Default Barcode Type</label>
                        <source_model>Akwaaba\Barcode\Model\Config\Source\BarcodeTypeField</source_model>
                    </field>

                    <field id="show_admin" translate="label comment" type="select" sortOrder="25" showInDefault="1"  showInWebsite="1">
                        <label>Show Data in Admin Order View</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
	        </group>
       </section>
   </system>
</config>
